@{
    ViewData["Title"] = "Bem Vindo(a)";
}

<div class="text-center">
    <img src="https://quantocustaviajar.com/blog/wp-content/uploads/2019/10/exposi%C3%A7ao-imersiva-da-vinci-sp.jpg" height="500"/>
</div>
